<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.webchat.mapper.*">

    <!--Test-复制改名字即可-->
<select id="FindAdds">
fhjksdhjkfaskdjfhajksdh房价快速的恢复精神
发货时间快点发货即可
</select>
</mapper>